.App {
  text-align: center;
  }

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
 .body {
  display: flex;
  align-items: center;
  justify-content: center;
 }
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar {
  background-color: #157055;
  padding: 5px 0px 5px 0px;
}

#nav {
  display: inline-flex;
  font-family: monospace;
  font-size: xx-large;
  margin: 2px 15px 2px 15px;
  color: white;
  border: 1px #157055b2 solid;
}

.piano {
display: flex;
 width: fit-content;
 margin:auto;
 border: 5px black solid;

 
 
}

.whitekey {
  width: 40px;
  height:120px;
  background-color: rgb(255, 253, 219);
  border: 4px solid black;
  padding: 0%;
}

.blackkey {
  width: 24px;
  height: 80px;
  background-color: black;
  padding: 0%;
  
  
}

#pianoname {

font-weight: bolder;

}

/* #intro {
  font-size:36px;
  font-weight:bold;

  
  text-transform: uppercase;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  
  padding:4px 12px;
  height:45px;
  margin-bottom:20px;
  display:inline-block;
}
#first {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {margin-top: 0;}
  100% {margin-top: 0;}

} */



#container {
  font-family: monospace;
  font-size: 2.26rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

#animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

#animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

#animation div:first-child {
  animation: text-animation 8s infinite;
}


@keyframes text-animation {
  0% {margin-top: -0.05rem;}
  10% {margin-top: -0.05rem;}
  20% {margin-top: -5.80rem;}
  30% {margin-top: -5.80rem;}
  40% {margin-top: -11.70rem;}
  60% {margin-top: -11.70rem;}
  70% {margin-top: -5.80rem;}
  80% {margin-top: -5.80rem;}
  90% {margin-top: -0.05rem;}
  100% {margin-top: -0.05rem;}
}
